.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 60px;
  width: 60px;
  font-family: "Neris-Black";
  font-size: 30px;
  color: #4b4e5a;
  background-color: #e9e3db;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgba(167, 157, 151, 0.9);
}
.buttonWrapper:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 60px;
  width: 60px;
  font-family: "Neris-Black";
  font-size: 20px;
  color: #e9e3db;
  background-color: #647297;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgba(49, 61, 91, 0.9);
}

.buttonWrapper:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 60px;
  width: 132px;
  font-family: "Neris-Black";
  font-size: 30px;
  color: #e9e3db;
  background-color: #647297;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgba(49, 61, 91, 0.9);
}

.buttonWrapper:nth-last-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 60px;
  width: 132px;
  font-family: "Neris-Black";
  font-size: 30px;
  color: #e9e3db;
  background-color: #647297;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgba(49, 61, 91, 0.9);
}
