body {
  margin: 0;
  font-family: "Neris-Black";

  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Neris-Black";
  src: url("./components/Fonts/Neris-Black.otf");
}
